// cs stays for Color System

cs-overlay = #151515 // Black
cs-active-background = #222222 // Active background color
cs-hover-background = #272727 // Hovered background color
cs-background = #2A2A2A // Overall background color
cs-disabled-input = #343434 // Disabled input fill color
cs-outline = #383838 // Outline color
cs-dimmed = #9E9E9E // Dimmed text color, that is neither highlighted, nor not secondary
cs-secondary = #C9C9C9 // Secondary text color
cs-primary = #FFFFFF // Primary text color
