// No rem because of non-standard rendering of decimals
// ss stays for Space System

ss-xxs-2 = 2px
ss-xs-3 = 3px
ss-xs-5 = 5px
ss-sm-7 = 7px
ss-sm-10 = 10px
ss-md-12 = 12px
ss-md-16 = 16px
ss-lg-18 = 18px
ss-lg-20 = 20px
ss-xl-24 = 24px
ss-xl-25 = 25px
ss-xl-36 = 36px
ss-xxl-48 = 48px
